version: '3.9'

services:
  db:
    image: postgres:15
    container_name: template_service_db
    restart: always
    environment:
      POSTGRES_USER: template_user
      POSTGRES_PASSWORD: template_password
      POSTGRES_DB: template_service_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: template_service_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - '5050:80'
    depends_on:
      - db

volumes:
  postgres_data:
